# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite databases
*.db
*.db-shm
*.db-wal

# Environments & virtualenvs
.env
.env.*
.venv
env/
venv/
ENV/

# Secrets & Keys
.secret_key
.refresh_secret_key
*.secret*
*.key
*.pem

# Logs
*.log

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
